<style>
    /* 定义广告默认样式 */
    .example_responsive_1 {
      width: 320px;
      height: 100px;
      display: block;
      margin: auto;
    }
    /* 当屏幕宽度大于等于500px时的样式 */
    @media (min-width: 500px) {
      .example_responsive_1 {
        width: 468px;
        height: 60px;
        display: block;
        margin: auto;
      }
    }
    /* 当屏幕宽度大于等于800px时的样式 */
    @media (min-width: 800px) {
      .example_responsive_1 {
        width: 728px;
        height: 90px;
        display: block;
        margin: auto;
      }
    }
    ins.adsbygoogle[data-ad-status="unfilled"] {
        display: none !important;
      }
  </style>
  <!-- 引入谷歌广告脚本 -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
  <!-- example_responsive_1 -->
  <ins class="adsbygoogle example_responsive_1"
       style="display: block;"
       data-ad-client="ca-pub-4694110216243855"
       data-ad-slot="2588246687">
  </ins>
  <script>
    // 推送广告请求
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>