<script>
if(!(window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1")) {
  // GA4 测量ID配置
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-1RP6E6GC5H');

  // 异步加载脚本
  var script = document.createElement('script');
  script.src = 'https://www.googletagmanager.com/gtag/js?id=G-1RP6E6GC5H';
  script.async = true;
  document.head.appendChild(script);
}
</script>
  
