<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>    
    {%- include header.html -%}

    <!-- 广告容器（顶部） -->
    <div id="ads-top">
      {% include ads-unit.html %}
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- 底部广告 -->
    <div id="ads-bottom">
      {% include ads-unit.html %}
    </div>

    {%- include footer.html -%}
    <script>
      // 等待广告加载完毕
      window.addEventListener("load", function () {
        // 检查顶部广告
        const topAd = document.getElementById("ads-top");
        if (topAd && topAd.innerText.trim() === "") {
          topAd.style.display = "none";
        }

        // 检查底部广告
        // const bottomAd = document.getElementById("ads-bottom");
        // if (bottomAd && bottomAd.innerText.trim() === "") {
        //   bottomAd.style.display = "none";
        // }
      });
    </script>
  </body>

</html>
