---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ site.list_title | default: "文章列表" }}</h2>
    <div class="wrapper">
      {% include posts.html posts=site.posts %}
    </div>
    
    <!-- 保持原主题的分页样式 -->
    {% if site.paginate %}
      {% if paginator.total_pages > 1 %}
        <div class="pager">
          <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}">&laquo;</a></li>
          {% endif %}
          
          {% for page in (1..paginator.total_pages) %}
            <li {% if page == paginator.page %}class="active"{% endif %}>
              <a href="{% if page == 1 %}/{% else %}/page{{ page }}/{% endif %}">{{ page }}</a>
            </li>
          {% endfor %}
          
          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}">&raquo;</a></li>
          {% endif %}
          </ul>
        </div>
      {% endif %}
    {%- endif %}
    </div> 
    <div class="rss-subscribe">
      <a href="{{ "/feed.xml" | relative_url }}">
        <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg>
        <span>订阅本站</span>
      </a>
    </div>
  {%- endif -%}
</div>